* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  background-color: #050505; /* Colore uguale al tuo viewer per mimetizzare */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
